@charset "UTF-8";

* {
    font-family: "K2D", sans-serif;
    color: #ffffff;
    scroll-behavior: smooth;

}

body {
    margin: 0px auto;
    max-width: 1337;
    background: linear-gradient(150deg, #122030, #485c8d, #2d3958, #3F6487);
    background-size: 120% 120%;
    overflow-x: hidden;
}

/*CABEÇALHO*/

.cabecalho {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #101726;
    padding: 10px;
    line-height: 30px;
}

hr {
    margin: 0px;
}

.cabecalho h1 {
    font-size: 25px;
    padding: 5px;
    margin: 15px 0px;
    color: #1FC0DA;
}

.cabecalho .logo-esquerda {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: #7796F2;
    margin-right: 10px;
    margin-left: 60px;
    color: black;
}
.esquerda{
    display: flex;
    align-items: center;
}

a.certificados {
    justify-content: flex-start;
    margin-left: 10px;
    width: 40px;
    height: 40px;

}

.cabecalho a {
    text-decoration: none;
    display: flex;
    
}

/*:HOVER MENU E CABECALHO*/

.menu li a:hover,
.cabecalho a:hover .logo-esquerda,
.section-2 .redes-sociais a i:hover,
button.btn-mostrar-projetos:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff;
    transition: 0.4s;
}

/*MENU*/

nav.menu {
    margin-right: 30px;    
}

nav.menu ul li {
    list-style: none;
    float: left;
    padding: 0px 50px;
}

nav.menu li a {
    color: #1FC0DA;
    margin: 0px;
    font-weight: bold;
}

/*SECTION-1*/

.section-1 .inicio {
    display: flex;
    min-height: calc(100vh - 125px);
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

.section-1 .apresentacao1 {
    padding: 0px 0px 0px 100px;
    margin: 70px 0px 0px 0px;
    font-size: 70px;
    opacity: 0;
    animation: fadeIn1 4.5s ease forwards;
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.section-1 .apresentacao2 {
    padding: 0px 0px 0px 100px;
    font-size: 20px;
    opacity: 0;
    animation: fadeIn2 4.5s ease forwards;
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.inicio .container-avatar {
    max-width: 400px;
    border-radius: 50%;
    margin-right: 80px;
    position: relative;
    overflow: hidden;
}

.inicio .container-avatar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to right, #101726, #455587, #1FC0DA);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
    z-index: 0;
}

.inicio .container-avatar img {
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/*SECTION-2*/

.section-2 {
    display: flex;
    justify-content: center;
    margin: 110px 0px 0px 0px;
    padding-top: 60px;
    max-width: 100%;
}

.section-2 h2 {
    max-width: 100%;
    max-height: 100%;
    font-size: 40px;
    font-weight: normal;
    padding: 300px 50px 0px 50px;

}

.redes-sociais {
    display: block;
}

.section-2 .foto {
    width: 300px;
    height: 300px;
    border: 10px solid #7796F2;

}

.section-2 .redes-sociais {
    display: flex;
    width: 320px;
    left: 300px;
    bottom: 450px;


}

.section-2 .redes-sociais ul {
    margin: 0px;
    padding: 0px;

}

.section-2 .redes-sociais ul li {
    float: left;
    list-style: none;
    margin: 20px 10px 0px 10px;
    background-color: #1FC0DA;
    border-radius: 50px;
}

.section-2 .redes-sociais ul li a i {
    padding: 20px;
    color: #0A131E;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

.section-2 .redes-sociais ul li a i {
    padding: 20px;
    color: #0A131E;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

.section-2 p {
    left: 650px;
    bottom: 900px;
    margin-bottom: 20px;
    padding: 0px 0px 0px 50px;
    width: 450px;
    font-family: "K2D", sans-serif;
    font-size: 20px;
}

/*SECTION-3*/

.section-3 {
    gap: 50px;
    padding: 10px;
    margin: 100px auto;
}

.section-3 h2 {
    font-size: 40px;
    text-align: left;
    font-weight: normal;
    padding: 0px 0px 0px 100px;
    margin: 0px 0px 10px 0px;
}

.section-3 p {
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    margin: 0px;
    padding: 0px 0px 0px 100px;
}

.section-3 .container-lista-hf ul {
    display: flex;
    justify-content: center;
    background-color: #232D49;
    border-radius: 40px;
    margin: 50px 10px;
    padding: 60px 100px;
}

.section-3 .container-lista-hf ul li {
    list-style: none;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    padding: 0px 40px;
    text-align: center;
    align-items: center;
    transition: transform 500ms cubic-bezier(0.69, -0.55, 0.265, 1.55);

}

.section-3 .container-lista-hf ul li:hover {
    transform: scale(1.2);

}


.section-3 .container-lista-hf img {
    width: 80px;
    height: 80px;
    padding-top: 15px;
}

.section-3 .container-lista-hf span {
    color: #1FC0DA;
    text-decoration: none;
    margin: 40px 0px;

}

/*SECTION-4*/

.section-4 {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 100px auto;
}

.section-4 h2 {
    font-size: 40px;
    text-align: left;
    font-weight: normal;
    padding: 0px 0px 0px 100px;
    margin-bottom: 10px;
}

.section-4 p {
    display: block;
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    padding: 0px 0px 0px 100px;
    margin: 0px;
}

.section-4 .container-projetos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
}

.section-4 .projeto.ativo,
.projeto-i {
    text-align: center;
    align-items: center;
    width: 340px;
    height: 700px;
    margin: 80px 0px;
}

.section-4 .projeto a img,
.projeto-i a img {
    width: 250px;
    height: 450px;
    padding: 0px;
    margin: 30px auto;
    border-radius: 15px;
    align-items: center;
    transition: transform 500ms cubic-bezier(0.69, -0.55, 0.265, 1.55);
    cursor: pointer;
    box-shadow: 1px 5px 10px black;
}

.section-4 .projeto img:hover,
.projeto-i img:hover {
    transform: scale(1.1);
}

.informacoes-projeto {
    max-width: 400px;
    height: 100px;
    padding: 0px 50px;

}

.section-4 .projeto {
    display: block;
    width: 310px;
}

.section-4 h3 {
    font-size: 25px;
    margin: 0px;
    color: #1FC0DA;
    text-align: left;
}

.informacoes-projeto p {
    font-size: 17px;
    padding: 0px;
    margin: 5px 0px;
}

.section-4 .projeto.ativo .informacoes-projeto .tecnologias ul {
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: left;
}

.section-4 .projeto.ativo .informacoes-projeto a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: left;
}


#projetos .inativos {
    display: none;
}

.projeto-i h3 {
    display: block;
}

.section-4 .btn-mostrar-projetos {
    background-color: #1FC0DA;
    border-radius: 15px;
    color: #182B41;
    width: 180px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 200px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}


.section-4 .btn-mostrar-projetos.remover {
    display: none;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/*FOOTER*/

footer p {
    background-color: #101726;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
